<header class="bg-dark text-light sticky-top mb-3 header">
  <div class="container d-flex justify-content-between align-items-center">
    <%- include('../partials/header-links', locals.user ? user : { }) %>
    <%- include('../partials/header-user') %>
  </div>
</header>
