<div class="text-end py-1">
  <% if (locals.user != null && user?.username) { %>
    <div class="d-flex align-items-center">
      <div>
        Logged in as: <b><%= user.username %></b>
        <div class="my-1">
          <form id="logoutForm" action="/api/user/logout" method="POST">
            <button class="btn btn-sm btn-danger btn-block" type="submit">Log out</button>
          </form>
        </div>
      </div>
      <img class="ms-3 rounded-1" src="<%= avatarUrl %>" width="54" height="54" alt="">
    </div>
  <% } else { %>
    Not logged in
    <div class="my-1">
      <a href="/signup" class="me-1"><button class="btn btn-sm btn-success btn-block">Sign up</button></a>
      <a href="/login"><button class="btn btn-sm btn-primary btn-block">Log in</button></a>
    </div>
  <% } %>
</div>
