<ul class="d-flex">
  <li class="pe-4"><a class="text-reset text-decoration-none fw-semibold" href="/">HOME</a></li>
  <li class="pe-4"><a class="text-reset text-decoration-none fw-semibold" href="/chat">CHAT</a></li>
  <li class="pe-4"><a class="text-reset text-decoration-none fw-semibold" href="/products">PRODUCTS</a></li>
  <li class="pe-4"><a class="text-reset text-decoration-none fw-semibold" href="/cart">CART</a></li>
</ul>
