<form
  id="loginForm"
  method="post"
  action="/signup"
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="registerUsername" class="form-label mt-3">Username</label>
    <input type="text" class="form-control" id="registerUsername" name="username" placeholder="Username" required>

    <label for="registerEmail">Email</label>
    <input type="email" class="form-control" id="registerEmail" name="email" placeholder="email@example.com" required autofocus>

    <label for="registerPassword" class="form-label mt-3">Password</label>
    <input type="password" class="form-control" id="registerPassword" name="password" placeholder="Password" required>

    <label for="registerName" class="form-label mt-3">First Name</label>
    <input type="text" class="form-control" id="registerName" name="name" placeholder="First name" required>

    <label for="registerLastName" class="form-label mt-3">Last Name</label>
    <input type="text" class="form-control" id="registerLastName" name="lastName" placeholder="Last name" required>

    <label for="registerPhone" class="form-label mt-3">Phone number</label>
    <div class="input-group">
      <span class="input-group-text">+</span>
      <input type="tel" class="form-control" id="registerPhone" name="phone" placeholder="Mobile phone number" required>
    </div>

    <div class="d-flex">
      <div class="me-1">
        <label for="registerAge" class="form-label mt-3">Age</label>
        <input type="number" class="form-control" id="registerAge" name="age" placeholder="Age" min="13" required>
      </div>
      <div class="ms-1">
        <label for="registerAvatar" class="form-label mt-3">Avatar</label>
        <input type="file" class="form-control" id="registerAvatar" name="avatar" placeholder="Avatar" required>
      </div>
    </div>
  </div>
  <button class="btn btn-success btn-block" type="submit">Sign up</button>
  <span class="form-suggestion mt-3">Already have an account? <a href="/login">Log in</a></span>
</form>
