<%- include('../partials/head', { pageTitle: 'Load product' }) %>
<body>
  <!-- PRODUCT FORM -->
  <div class="w-100 vh-100 d-flex align-items-center">
    <%- include('../partials/product-form', { pageTitle: 'Load product' }) %>
  </div>
</body>
</html>
