<%- include('../partials/head', { pageTitle: 'Home', content: '' }) %>
<body>
  <!-- PRODUCT FORM -->
  <ul>
    <li>
      <a href="/chat"><h2>Chat</h2></a>
    </li>
    <li>
      <a href="/productos"><h2>Products</h2></a>
    </li>
    <li>
      <a href="/carrito"><h2>Cart</h2></a>
    </li>
  </ul>
</body>
</html>
