<%- include('../partials/head.ejs', { pageTitle: 'User login' }) %>
<body>
  <%- include('../partials/header') %>
  <div class="container">
  <!-- IF LOGGED IN REDIRECT TO HOME -->
  <% if (locals.user != null && user?.username) { %>
    <script>
      window.location.href = '/';
    </script>
  <% } %>
  <h1 class="text-center">User Login</h1>
    <div class="col-md-4 offset-md-4 border rounded-3 p-3 my-3">
      <!-- INCLUDE LOGIN FORM -->
      <%- include('../partials/login-form') %>
    </div>
  </div>
</body>
</html>
